{% extends 'base.html' %}

{% block content %}
<div class="about">
    <section class="about__overview">
        <p class="about__overview-title">About Us</p>
        <p class="about__overview-description">We are a company that manages the health record of patients to help them get better support form medical practioners.</p>
        <p class="about__overview-description">We also help medical practioners get statistical analysis of patients on th platform.</p>
        <p class="about__overview-description">Register with us and give us a try.</p>
    </section>
</div>
{% endblock %}