{% extends 'base.html' %}

{% block content %}
<div class="help">
    <section class="help__overview">
        <p class="help__overview-title">Help on using this website</p>
        <ul class="help__overview-lists">
            <li class="help__overview-list">When registering your account, you can either register as a medical practioner by selecting yes or not signing up as one by selecting no.</li>
            <li class="help__overview-list">Unregistered users and registered users are allowed to see the medical records of all users on this platform.</li>
            <li class="help__overview-list">Users signed up as medical practioners are allowed to see a statistical data of all patients on the platform, and are also allowed to filter through patients who through their sickness or the sickness duration.</li>
            <li class="help__overview-list">If you need more help, please contact our support team.</li>
        </ul>
    </section>
</div>
{% endblock %}